

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>FILIPDASHBOARD</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/accounts'"> Accounts </a>
      <a mat-button [routerLink]="'/create-account'"> Create Account </a>
      <a mat-button [routerLink]="'/contacts'"> Contacts </a>
      <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-button [routerLink]="'/activities'"> Activities </a>
      <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
      <a mat-button [routerLink]="'/customerlist'"> customerlist</a>
      <a mat-button [routerLink]="'/customerdetails/:id'"> customerdetails id </a>
      <a mat-button [routerLink]="'/customercreate'"> customercreate </a>
      <a mat-button [routerLink]="'/customersupdate'"> customersupdate </a>
      <a mat-button [routerLink]="'/calculator'"> calculator </a>
      <a mat-button [routerLink]="'/contactform'"> contactform </a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;">FILIPDASHBOARD helps you easily to learn angular 8</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
<!--  <mat-sidenav #sidenav opened="true">-->
  <mat-sidenav #sidenav opened="false">
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/accounts'"> Accounts </a>
      <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
      <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-list-item [routerLink]="'/activities'"> Activities </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
      <a mat-list-item [routerLink]="'/customerlist'"> customerlist</a>
      <a mat-list-item [routerLink]="'/customerdetails/:id'"> customerdetails id </a>
      <a mat-list-item [routerLink]="'/customercreate'"> customercreate </a>
      <a mat-list-item [routerLink]="'/customersupdate'"> customersupdate </a>
      <a mat-list-item [routerLink]="'/calculator'"> calculator </a>
      <a mat-list-item [routerLink]="'/contactform'"> contactform </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<div>
  <!-- translation: translation pipe -->
  <h1>{{ 'demo.title' | translate }}</h1>

  <!-- translation: directive (key as attribute)-->
  <p [translate]="'demo.text'"></p>

  <!-- translation: directive (key as content of element) -->
  <p translate>demo.text</p>

  <!-- translation: translation pipe -->
  <p>{{ 'demo.greeting' | translate:{'name': 'Andreas'} }}</p>

  <!-- translation: directive (key as attribute) -->
  <p [translate]="'demo.greeting'" [translateParams]="{name: 'Andreas'}"></p>

  <!-- translation: directive (key as content of element)-->
  <p translate [translateParams]="{name: 'Andreas'}">demo.greeting</p>

  <button (click)="useLanguage('en')">en</button>
  <button (click)="useLanguage('nl')">nl</button>

</div>

