<div class="main-container">

  <!--  <mat-toolbar color="primary" class="topbar telative mat-toolbar mat-primary mat-toolbar-single-row">-->
  <mat-toolbar color="primary">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span fxshow="false" fxshow.gt-xs="">
          <img alt="homepagesecond" class="dark-logo" src="assets/images/logo/profile.png" width="148px">
<!--          <img alt="homepagesecondlight" class="light-logo" src="assets/images/logo/profile.png" width="148px">-->
          <img alt="homepagesecondlight" class="light-logo" src="assets/images/logo/vector/default-monochrome-white.svg" width="148px" style="height:30px;">
        </span>
      </a>
    </div>

    <button mat-icon-button="" value="sidebarclosed" class="mat-icon-button">
      <span class="mat-button-wrapper">
        <mat-icon
          class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true"
          (click)="sidenav.toggle()">menu</mat-icon>
      </span>
      <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>

    <button class="srh-btn mat-icon-button" mat-icon-button=""><span class="mat-button-wrapper"><mat-icon
      class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
      aria-hidden="true">search</mat-icon></span>
      <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>

    <app-header>
      <button aria-haspopup="true" class="m-r-10 mat-icon-button" mat-icon-button=""><span class="mat-button-wrapper"><mat-icon
        class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">message</mat-icon><div
        class="notify"><span class="heartbit"></span><span class="point"></span></div></span>
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
      <mat-menu class=""><!----></mat-menu>
      <button aria-haspopup="true" class="m-r-10 mat-icon-button" mat-icon-button=""><span class="mat-button-wrapper"><mat-icon
        class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">email</mat-icon><div
        class="notify"><span class="heartbit"></span><span class="point"></span></div></span>
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
      <mat-menu class=""><!----></mat-menu>
      <button aria-haspopup="true" class="m-r-5 mat-icon-button" mat-icon-button=""><span
        class="mat-button-wrapper"><img alt="user" class="profile-pic" src="assets/images/users/1.jpg"></span>
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
      <mat-menu class=""><!----></mat-menu>
    </app-header>
  </mat-toolbar>

  <mat-sidenav-container
    class="mat-drawer-container mat-sidenav-container example-sidenav-container mat-drawer-transition">
    <!--  <mat-sidenav #sidenav opened="true">-->
    <mat-sidenav #snav [opened]="true" [mode]="'side'"
                 class="pl-xs mat-drawer mat-sidenav ng-tns-c5-0 ng-trigger ng-trigger-transform ps mat-drawer-side ng-star-inserted ps--active-y">
      <div class="mat-drawer-inner-container">
      <mat-nav-list appaccordion class="mat-nav-list mat-list-base" role="navigation">

        <a mat-list-item [routerLink]="'/dashboard1'"> dashboard1 </a>
        <a mat-list-item [routerLink]="'/form-layout'"> form-layout </a>
        <a mat-list-item [routerLink]="'/accounts'"> Accounts </a>
        <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
        <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
        <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-list-item [routerLink]="'/activities'"> Activities </a>
        <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
        <a mat-list-item [routerLink]="'/customerlist'"> customerlist</a>
        <a mat-list-item [routerLink]="'/customerdetails/:id'"> customerdetails id </a>
        <a mat-list-item [routerLink]="'/customercreate'"> customercreate </a>
        <a mat-list-item [routerLink]="'/customersupdate'"> customersupdate </a>
        <a mat-list-item [routerLink]="'/calculator'"> calculator </a>
        <a mat-list-item [routerLink]="'/contactform'"> contactform </a>
        <a mat-list-item [routerLink]="'/login'"> login </a>
        <a mat-list-item [routerLink]="'/register'"> register </a>
        <a mat-list-item (click)="snav.toggle()" href="" mat-list-item>Close</a>

      </mat-nav-list>

      </div>
    </mat-sidenav>

    <mat-sidenav-content class="page-wrapper mat-drawer-content mat-sidenav-content">
      <div style="height: 88vh;" class="page-content">

        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>


<!--  <div>-->
<!--    &lt;!&ndash; translation: translation pipe &ndash;&gt;-->
<!--    <h1>{{ 'demo.title' | translate }}</h1>-->

<!--    &lt;!&ndash; translation: directive (key as attribute)&ndash;&gt;-->
<!--    <p [translate]="'demo.text'"></p>-->

<!--    &lt;!&ndash; translation: directive (key as content of element) &ndash;&gt;-->
<!--    <p translate>demo.text</p>-->

<!--    &lt;!&ndash; translation: translation pipe &ndash;&gt;-->
<!--    <p>{{ 'demo.greeting' | translate:{'name': 'Andreas'} }}</p>-->

<!--    &lt;!&ndash; translation: directive (key as attribute) &ndash;&gt;-->
<!--    <p [translate]="'demo.greeting'" [translateParams]="{name: 'Andreas'}"></p>-->

<!--    &lt;!&ndash; translation: directive (key as content of element)&ndash;&gt;-->
<!--    <p translate [translateParams]="{name: 'Andreas'}">demo.greeting</p>-->

<!--    <button (click)="useLanguage('en')">en</button>-->
<!--    <button (click)="useLanguage('nl')">nl</button>-->

<!--  </div>-->


  <!--main-container-->
</div>
