<div class="main-container">

  <mat-toolbar color="primary" class="topbar telative">
    <mat-toolbar-row>
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
        <span fxshow="false" fxshow.gt-xs="">
          <img alt="homepagesecond" class="dark-logo" src="assets/images/logo/profile.png" width="148px">
          <!--          <img alt="homepagesecondlight" class="light-logo" src="assets/images/logo/profile.png" width="148px">-->
          <img alt="homepagesecondlight" class="light-logo" src="assets/images/logo/vector/default-monochrome-white.svg"
               width="148px" style="height:30px;">
        </span>
        </a>
      </div>
      <!-- ============================================================== -->
      <!-- sidebar toggle -->
      <!-- ============================================================== -->
      <button mat-icon-button="" value="sidebarclosed" class="mat-icon-button">
      <span class="mat-button-wrapper">
        <mat-icon
          class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true"
          (click)="snav.toggle()">menu</mat-icon>
      </span>
<!--        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>-->
<!--        <div class="mat-button-focus-overlay"></div>-->
      </button>

      <!-- new -->
      <span fxFlex></span>
      <!-- end new -->

      <button class="srh-btn mat-icon-button" mat-icon-button=""><span class="mat-button-wrapper"><mat-icon
        class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
        aria-hidden="true">search</mat-icon></span>
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>


      <span class="example-spacer"></span>

      <button class="m-r-10 mat-icon-button" mat-icon-button="" [matMenuTriggerFor]="menunotifications">
        <span class="mat-button-wrapper">
        <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                  aria-hidden="true">message</mat-icon>
          <div class="notify"><span class="heartbit"></span><span class="point"></span></div></span>
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
      <mat-menu #menunotifications="matMenu">
        <div class="mailbox">
          <ul>
            <li>
              <div class="drop-title">Notifications</div>
            </li>

            <li>
              <div class="message-center">
                <perfect-scrollbar>
                  <div class="ps ps--active-y">
                    <div class="ps-content"><!---->

                      <a href="#" class="ng-star-inserted">
                        <div class="round round-danger" style="line-height: 59px;">
                          <!--                      <i class="ti-link"></i>-->
                          <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                                    aria-hidden="true">
                            link
                          </mat-icon>
                        </div>
                        <div class="mail-content">
                          <h5>Launch Admin</h5>
                          <span class="mail-desc">Just see the my new admin!</span>
                          <span class="time">9:30 AM</span></div>
                      </a>

                      <a href="#" class="ng-star-inserted">
                        <div class="round round-success" style="line-height: 59px;">
                          <!--                        <i class="ti-calendar"></i>-->
                          <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                                    aria-hidden="true">
                            calendar_today
                          </mat-icon>
                        </div>
                        <div class="mail-content"><h5>Event today</h5><span class="mail-desc">Just a reminder that you have event</span><span
                          class="time">9:10 AM</span></div>
                      </a>

                      <a href="#" class="ng-star-inserted">
                        <div class="round round-success" style="line-height: 59px;">
                          <!--                        <i class="ti-calendar"></i>-->
                          <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                                    aria-hidden="true">
                            account_circle
                          </mat-icon>
                        </div>
                        <div class="mail-content"><h5>Event today</h5><span class="mail-desc">Just a reminder that you have event</span><span
                          class="time">9:10 AM</span></div>
                      </a>

                      <a href="#" class="ng-star-inserted">
                        <div class="round round-info" style="line-height: 59px;">
                          <!--                          <i class="ti-settings"></i>-->
                          <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                                    aria-hidden="true">
                            settings_applications
                          </mat-icon>
                        </div>
                        <div class="mail-content"><h5>Settings</h5><span class="mail-desc">You can customize this template as you want</span><span
                          class="time">9:08 AM</span></div>
                      </a>
                      <a href="#" class="ng-star-inserted">
                        <div class="round round-primary" style="line-height: 59px;">
                          <!--                          <i class="ti-user"></i>-->
                          <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                                    aria-hidden="true">
                            person
                          </mat-icon>
                        </div>
                        <div class="mail-content"><h5>Pavan kumar</h5><span
                          class="mail-desc">Just see the my admin!</span><span class="time">9:00 AM</span></div>
                      </a>
                    </div><!---->
                  </div>
                </perfect-scrollbar>
              </div>
            </li>
          </ul>
        </div>
      </mat-menu>

      <button class="m-r-10 mat-icon-button" mat-icon-button="" [matMenuTriggerFor]="menumessages">
        <span class="mat-button-wrapper">
          <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                    aria-hidden="true">email
          </mat-icon>
          <div class="notify">
            <span class="heartbit"></span>
            <span class="point"></span>
          </div>
        </span>
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
      <mat-menu #menumessages="matMenu">
        <div class="mailbox">
          <ul>
            <li>
              <div class="drop-title">You have 4 new Mymessages</div>
            </li>

            <li>
              <div class="message-center">
                <perfect-scrollbar>
                  <div class="ps ps--active-y">
                    <div class="ps-content"><!---->

                      <a href="#" class="ng-star-inserted">
                        <div class="user-img"><img alt="user" class="img-circle" width="40"
                                                   src="https://www.wrappixel.com/demos/angular-admin-templates/material-angular/material/assets/images/users/1.jpg"><span
                          class="profile-status online pull-right"></span></div>
                        <div class="mail-content"><h5>Pavan kumar</h5><span
                          class="mail-desc">Just see the my admin!</span><span class="time">9:30 AM</span></div>
                      </a>

                      <a href="#" class="ng-star-inserted">
                        <div class="user-img"><img alt="user" class="img-circle" width="40"
                                                   src="https://www.wrappixel.com/demos/angular-admin-templates/material-angular/material/assets/images/users/2.jpg">
                          <!--                                                   src="assets/images/users/2.jpg">-->
                          <span
                            class="profile-status busy pull-right"></span></div>
                        <div class="mail-content"><h5>Sonu Nigam</h5><span class="mail-desc">I have sung a song! See you at</span><span
                          class="time">9:10 AM</span></div>
                      </a>

                      <a href="#" class="ng-star-inserted">
                        <div class="user-img"><img alt="user" class="img-circle" width="40"
                                                   src="https://www.wrappixel.com/demos/angular-admin-templates/material-angular/material/assets/images/users/2.jpg"><span
                          class="profile-status away pull-right"></span></div>
                        <div class="mail-content"><h5>Arijit Sinh</h5><span class="mail-desc">I am a singer!</span><span
                          class="time">9:08 AM</span></div>
                      </a>

                      <a href="#" class="ng-star-inserted">
                        <div class="user-img"><img alt="user" class="img-circle" width="40"
                                                   src="https://www.wrappixel.com/demos/angular-admin-templates/material-angular/material/assets/images/users/4.jpg"><span
                          class="profile-status offline pull-right"></span></div>
                        <div class="mail-content"><h5>Pavan kumar</h5><span
                          class="mail-desc">Just see the my admin!</span><span class="time">9:00 AM</span></div>
                      </a>


                    </div><!---->
                  </div>
                </perfect-scrollbar>
              </div>
            </li>
          </ul>
        </div>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menu" class="m-r-5 mat-icon-button">
        <span class="mat-button-wrapper">
          <img alt="user" class="profile-pic"
               src="https://www.wrappixel.com/demos/angular-admin-templates/material-angular/material/assets/images/users/1.jpg">
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                    aria-hidden="true">
            settings
          </mat-icon>
          Settings
        </button>

        <button mat-menu-item>
          <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                    aria-hidden="true">
            account_box
          </mat-icon>
          Profile
        </button>

        <button mat-menu-item>
          <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                    aria-hidden="true">
            notifications_off
          </mat-icon>
          Disable notifications
        </button>

        <button mat-menu-item>
          <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                    aria-hidden="true">
            exit_to_app
          </mat-icon>
          Sign Out
        </button>

      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>

<!--  <mat-sidenav-container  class="mat-drawer-container mat-sidenav-container example-sidenav-container mat-drawer-transition">-->
  <mat-sidenav-container  class="mat-drawer-container mat-sidenav-container example-sidenav-container mat-drawer-transition">
    <!--  <mat-sidenav #sidenav opened="true">-->
    <mat-sidenav #snav [opened]="true" [mode]="'side'"
                 class="pl-xs mat-drawer mat-sidenav ng-tns-c5-0 ng-trigger ng-trigger-transform ps mat-drawer-side ng-star-inserted ps--active-y"
                 id="snav">
      <div class="mat-drawer-inner-container app-sidebar">

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Personal data
              </mat-panel-title>
              <mat-panel-description>
                Type your name and age
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <input matInput placeholder="First name">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Age">
            </mat-form-field>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
              <mat-panel-description>
                Currently I am
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>

        <!-- tryout -->
        <mat-nav-list appAccordion>
          <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
            <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
              <mat-icon>{{ menuitem.icon }}</mat-icon>
              <span>{{ menuitem.name }}</span>
              <span fxFlex></span>
              <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            </a>


          </mat-list-item>

        </mat-nav-list>
        <!-- tryout -->



        <mat-nav-list appAccordion class="mat-nav-list mat-list-base" role="navigation">

          <mat-list-item appAccordionLink class="mat-list-item ng-star-inserted" routerLinkActive="selected">
            <div class="mat-list-item-content">
              <div class="mat-list-item-ripple mat-ripple" mat-ripple></div>
              <div class="mat-list-text"></div>
              <div class="saperator text-muted ng-star-inserted">
                <span>Personal</span>
              </div>

            </div>
          </mat-list-item>

          <mat-list-item appAccordionLink class="mat-list-item ng-star-inserted selected" routerLinkActive="selected">
              <a appAccordionToggle class="ng-star-inserted" href="javascript:;"
                 style="flex-direction: row; box-sizing: border-box; display: flex;">
                <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color">av_timer</mat-icon>
                <span>Dashboards</span>
                <span fxFlex></span>
                <mat-icon class="dd-icon mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">keyboard_arrow_down</mat-icon>
              </a>

              <mat-nav-list class="sub-item mat-nav-list mat-list-base ng-star-inserted" role="navigation">
                <mat-list-item class="mat-list-item ng-star-inserted selected" routerlinkactive="selected">

                    <a class="relative ng-star-inserted selected"
                       routerlinkactive="selected"
                       href="/demos/angular-admin-templates/material-angular/material/dashboards/dashboard1">Dashboard 1</a>
                </mat-list-item>
              </mat-nav-list>

<!--            </div>-->
          </mat-list-item>

          <a mat-list-item [routerLink]="'/dashboard1'"> dashboard1 </a>
          <a mat-list-item [routerLink]="'/form-layout'"> form-layout </a>
          <a mat-list-item [routerLink]="'/accounts'"> Accounts </a>
          <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
          <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
          <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
          <a mat-list-item [routerLink]="'/activities'"> Activities </a>
          <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
          <a mat-list-item [routerLink]="'/customerlist'"> customerlist</a>
          <a mat-list-item [routerLink]="'/customerdetails/:id'"> customerdetails id </a>
          <a mat-list-item [routerLink]="'/customercreate'"> customercreate </a>
          <a mat-list-item [routerLink]="'/customersupdate'"> customersupdate </a>
          <a mat-list-item [routerLink]="'/calculator'"> calculator </a>
          <a mat-list-item [routerLink]="'/contactform'"> contactform </a>
          <a mat-list-item [routerLink]="'/login'"> login </a>
          <a mat-list-item [routerLink]="'/register'"> register </a>
          <a mat-list-item [routerLink]="'/products'"> products </a>
          <a mat-list-item (click)="snav.toggle()" href="" mat-list-item>Close</a>

        </mat-nav-list>

      </div>
    </mat-sidenav>

    <mat-sidenav-content class="page-wrapper mat-drawer-content mat-sidenav-content">
      <div style="height: 88vh;" class="page-content">

        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>


  <!--  <div>-->
  <!--    &lt;!&ndash; translation: translation pipe &ndash;&gt;-->
  <!--    <h1>{{ 'demo.title' | translate }}</h1>-->

  <!--    &lt;!&ndash; translation: directive (key as attribute)&ndash;&gt;-->
  <!--    <p [translate]="'demo.text'"></p>-->

  <!--    &lt;!&ndash; translation: directive (key as content of element) &ndash;&gt;-->
  <!--    <p translate>demo.text</p>-->

  <!--    &lt;!&ndash; translation: translation pipe &ndash;&gt;-->
  <!--    <p>{{ 'demo.greeting' | translate:{'name': 'Andreas'} }}</p>-->

  <!--    &lt;!&ndash; translation: directive (key as attribute) &ndash;&gt;-->
  <!--    <p [translate]="'demo.greeting'" [translateParams]="{name: 'Andreas'}"></p>-->

  <!--    &lt;!&ndash; translation: directive (key as content of element)&ndash;&gt;-->
  <!--    <p translate [translateParams]="{name: 'Andreas'}">demo.greeting</p>-->

  <!--    <button (click)="useLanguage('en')">en</button>-->
  <!--    <button (click)="useLanguage('nl')">nl</button>-->

  <!--  </div>-->


  <!--main-container-->
</div>
